:root{
    --xmv-font-size-base : 14px;
    --xmv-color-primary-light-9 : #ecf5ff;
    --xmv-border-color : #dcdfe6;
    --xmv-transition-duration : 0.3s;
}

[class*=" xmv-icon-"], [class^=xmv-icon-] {
    --color: inherit;
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--color);
    font-size: inherit;
}