@font-face {
  font-family: "xmv-icon"; /* Project id  */
  src: url('iconfont.ttf?t=1628473023937') format('truetype');
}

[class*=" xmv-icon-"], [class^=xmv-icon-] {
  font-family: xmv-icon!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xmv-icon-card:before {
  content: "\e6a0";
}

.xmv-icon-chart:before {
  content: "\e6a1";
}

.xmv-icon-close:before {
  content: "\e6a2";
}

.xmv-icon-copy:before {
  content: "\e6a3";
}

.xmv-icon-correct:before {
  content: "\e6a4";
}

.xmv-icon-Component:before {
  content: "\e6a5";
}

.xmv-icon-code:before {
  content: "\e6a6";
}

.xmv-icon-date:before {
  content: "\e6a7";
}

.xmv-icon-Certification:before {
  content: "\e6a8";
}

.xmv-icon-delete:before {
  content: "\e6a9";
}

.xmv-icon-enlarge:before {
  content: "\e6aa";
}

.xmv-icon-debugging:before {
  content: "\e6ab";
}

.xmv-icon-export:before {
  content: "\e6ac";
}

.xmv-icon-first-page:before {
  content: "\e6ad";
}

.xmv-icon-last-page:before {
  content: "\e6ae";
}

.xmv-icon-import:before {
  content: "\e6af";
}

.xmv-icon-failure:before {
  content: "\e6b0";
}

.xmv-icon-download:before {
  content: "\e6b1";
}

.xmv-icon-phone:before {
  content: "\e6b2";
}

.xmv-icon-list:before {
  content: "\e6b3";
}

.xmv-icon-modify:before {
  content: "\e6b4";
}

.xmv-icon-narrow:before {
  content: "\e6b5";
}

.xmv-icon-password:before {
  content: "\e6b6";
}

.xmv-icon-Refresh:before {
  content: "\e6b7";
}

.xmv-icon-swap:before {
  content: "\e6b8";
}

.xmv-icon-search:before {
  content: "\e6b9";
}

.xmv-icon-setup:before {
  content: "\e6ba";
}

.xmv-icon-time:before {
  content: "\e6bb";
}

.xmv-icon-synchronize:before {
  content: "\e6bc";
}

.xmv-icon-topo:before {
  content: "\e6bd";
}

.xmv-icon-system-management:before {
  content: "\e6be";
}

.xmv-icon-account:before {
  content: "\e6bf";
}

.xmv-icon-system-monitoring:before {
  content: "\e6c0";
}

.xmv-icon-add:before {
  content: "\e6c1";
}

.xmv-icon-added:before {
  content: "\e6c2";
}

.xmv-icon-upload:before {
  content: "\e6c3";
}

.xmv-icon-arrow-right:before {
  content: "\e6c4";
}

.xmv-icon-arrow-up:before {
  content: "\e6c5";
}

.xmv-icon-arrow-left:before {
  content: "\e6c6";
}

.xmv-icon-warning:before {
  content: "\e6c7";
}

.xmv-icon-arrow-down:before {
  content: "\e6c8";
}

.xmv-icon-address:before {
  content: "\e6c9";
}

.xmv-icon-print:before {
  content: "\e6ca";
}

.xmv-icon-bells:before {
  content: "\e6cb";
}

.xmv-icon-error:before {
  content: "\e6cc";
}

.xmv-icon-info:before {
  content: "\e6cd";
}

.xmv-icon-success:before {
  content: "\e6ce";
}

.xmv-icon-plus:before {
  content: "\e6cf";
}

.xmv-icon-minus:before {
  content: "\e6d0";
}

.xmv-icon-loading:before {
  content: "\e6d1";
}